<!-- views/edit.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Edit Task</title>
</head>
<body>
    <h1>Edit Task</h1>
    <form action="/categories/edit/<%= Category.id %>" method="post">
        <label for="title">Title:</label>
        <input type="text" id="name" name="name" value="<%= Category.name %>" required>
        <br>
        <label for="description">Description:</label>
        <textarea id="category_type" name="category_type" required><%= Category.category_type %></textarea>
        <br>
        <button type="submit">Save Changes</button>
    </form>
    <a href="/">Back to Task List</a>
</body>
</html>
