<!-- views/index.ejs -->
<%- include('header') -%>
    <%- include('navbar_1header_login') -%>
    <h1>Add Location</h1>
    <form action="/locations/add" method="post">

        <label for="title">Title:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="description">Description:</label>
        
 
        <br>
        <input type="submit" value="Add New">
        
    </form>
    <a href="/locations">Back to Locations</a>
    <%- include('navbar_2footer') -%>
<%- include('footer') -%>
